<!-- not implemented -->
<form class="ui form" action="/search" method="POST">
<div class="field">
  <input class="prompt" type="text" placeholder="Search tweets..." name="searchTerm">
</div>
<button class="ui button" type="submit">Search<i class="search icon"></i></button>
</form>