<section class="ui segment">
  <div class="ui grid ">
    <div class="ui form six wide column">
      <div class="ui segment">
        <form action="/tweet" method="POST">
          <div class="field">
            <label>Enter Text
            <input type="text" name="text"></label>
          </div>
          <button class="ui blue submit button">Send Tweet</button>
        </form>
      </div>
    </div>
    <aside class="six wide column">
      <img src="images/homer4.jpeg" class="ui medium image">
    </aside>
  </div>
</section>