<section class="ui raised segment">
  <div class="ui grid">
    <aside class="six wide column">
      <img src="../images/homer5.jpg" class="ui medium image">
    </aside>
    <article class="ten wide column">
      <table class="ui celled table segment">
        <thead>
        <tr>
          <th colspan="2">Message</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        {{#each tweets}}
          <tr>
            <td title="{{date}}"> {{text}} </td>
            <td>
              <a href="/delete-tweet/{{_id}}">
                <i class="trash outline icon"></i>
              </a>
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </article>
  </div>
</section>